*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: rgba(100, 115, 255, 1)
}
.container{
    width: 70%;
    top: 10%;
    background: #161a2b;
    border-radius: 20px;
    min-width: 450px;
    position: absolute;
    min-height: 150px;
    margin-left: 15%
}
.logoutContainer{
    margin-top: 10px;
    border-radius: 20px;
    min-width: 450px;
    position: absolute;
    min-height: 150px;
    margin-left: 15%
}
#addTask{
    position: relative;
    padding: 30px 20px;
}
#addTask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #000b0b;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#addTask input:focus{
    border-color: #151c24;
}
#addTask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #1b66bb;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    width: 100%;
    position: relative;
    background-color:#161a2b;
    padding: 30px 20px;
    margin-top: 10px;
}

.task-completed{
    border-radius: 10px;
    justify-content: space-between;
    border: 1px solid #1fbcf1;
    background-color: #06842a;
    height: 100px;
    margin-bottom: 8px;
    padding: 2% 20px;
    display: flex;
    flex-wrap: wrap;
}
.task-completed #taskDescription{
    text-decoration: line-through
}
.task-pending{
    border-radius: 10px;
    justify-content: space-between;
    border: 1px solid #1fbcf1;
    background-color: #c2c2ce;
    height: 100px;
    margin-bottom: 8px;
    padding: 2% 20px;
    display: flex;
    flex-wrap: wrap;
}
#taskDescription{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:"white";
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.toggleOptions {
    width: 100%;
    position: relative;
    background-color:#eaecf4;
    padding: 30px 20px;
    margin-top: 10px;   
}
.editTaskInput {
    width: 90%;
    height: 100%;
    color: #000b0b;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 10px;
}